PORT=3000
MONGODB_URI=mongodb://localhost:27017/chat-api
NODE_ENV=development
CORS_ORIGIN=http://localhost:8880,http://localhost:8081

# Firebase Admin (Necessário para validar tokens no backend)
FIREBASE_PROJECT_ID=vibe-chat-project
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@seu-projeto.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nSUA_CHAVE_PRIVADA_AQUI\n-----END PRIVATE KEY-----\n"

# Criptografia (Obrigatório para segurança das mensagens)
# Gere uma chave aleatória de 32 caracteres
ENCRYPTION_KEY=vibe_private_master_key_32_chars_

# Sockets (Opcional - Debug)
# DEBUG_SOCKET=1
# SOCKET_POPULATE=0

# Configurações de API Externa
# EXPO_PUSH_TOKEN_DEBUG=1

# E-mail / 2FA via Resend
RESEND_API_KEY=re_xxxxx

